<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>MNS</title>
  <link href="public/styles.css" rel="stylesheet" />
  <link href="public/favicon.png" rel="icon" />
</head>

<body>

  {{{body}}}

</body>

</html>