<div class="product-details">
  <h2>Product {{product.id}}</h2>
  <label>Product name</label>
  <span class="name">{{product.name}}</span>
  <span class="qty">{{product.qty}}</span>
</div>
<a href="/">Back</a>