<div class="navbar">
  <h1>MNS</h1>
</div>

<div class="products-list">
  {{#each products}}
  <div class="product">
    <a href="/{{this.id}}">
      <span class="product-name">{{this.name}}</span>
      <span class="product-qty">{{this.qty}}</span>
    </a>
  </div>
  {{/each}}
</div>

<div class="products-commands">
  <button onclick="window.location.href='/edit'">
    Create new product
  </button>
</div>
